<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>KOF JavaScript Clone</title>
    <link rel="stylesheet" href="static/css/base.css?v=20260826-14">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
</head>


<body>
    <div id="kof-stage" class="kof-stage">
        <div id="kof"></div>
    </div>

    <script type="module">
        import { KofArcade } from './static/js/app/kof-arcade.js?v=20260826-15';

        new KofArcade('kof');
    </script>
</body>

</html>
